.default_page{
    width: 50%;
    margin: 0 auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.title{
    text-align: center;
}

.text_danger{
    color: red;
    margin: 0 0.3rem;
}