.sign_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form{
  margin-bottom: 10px;
} 
.buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  }

.span{
  font-size: 200%;
  text-transform: capitalize;
  font-weight: 800;
}
  