*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
html {
     font-size: 62.5%; /* Default font size: 16px * 62.5% = 10px = 1rem   */
     
  }
  body { 
    background: #ffffff;
    font: 1.6rem Helvetica;
    position: relative;
  }
  body *:nth-of-type(2){ 
    padding: 0 2rem 0 3rem;
  }
  input,
  button,
  textarea,
  select {
    font: 1.6rem Helvetica;
  }
  button {
    cursor: pointer;
  }
  a {
      color: #000000;
    text-decoration: none;
  }
  a:hover {
     color: #000000;
  }
