.content{
    width: 100%;
}
.empty_list{
    width: 100%; 
}

.table{
    width: 100%;
}
.table_head{
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000000;
}
.table_body{
    width: 100%;
}